* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
  height: 100vh;
}
h1 {
  color: #206a5d;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

.game-body {
  display: flex;
  justify-content: space-around;
}

.description {
  color: #206a5d;
  border-radius: 25%;
  font-size: 1.2rem;
  text-align: justify;
  margin: 50px;
  padding: 70px;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
.icons {
  font-size: 2rem;
  text-align: center;
}

.score {
  order: 5;
}

.hidden {
  visibility: visible;
  position: absolute;
  top: 146px;
  left: 620px;
  color: white;
  text-align: center;
  width: 800px;
  height: 600px;
  font-size: 2rem;
  background-color: rgba(0, 74, 72, 0.9);
}

.start-game {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.score p {
  color: #206a5d;
  text-align: center;
  font-size: 4rem;
}
.score .score-points {
  font-size: 4.5rem;
  font-weight: bolder;
}
.game-over {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.game-over a {
  text-decoration: none;
  color: white;
  padding: 7px;
  border: solid #bedbbb;
  border-radius: 50%;
}

.game-over a:visited {
  color: white;
}

.game-over a:hover {
  cursor: pointer;
  background-color: white;
  color: #206a5d;
}

footer {
  position: fixed;
  left: 0;
  bottom: 2%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

footer a:visited {
  color: #206a5d;
}

img {
  width: 500px;
  height: 300px;
}
