* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
  height: 100vh;
}
h1 {
  color: #206a5d;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}
canvas {
  z-index: 1;
}

.game-body {
  display: flex;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #206a5d;
  border-radius: 25%;
  font-size: 1.2rem;
  text-align: justify;
  margin: 20px;
  padding: 30px;
}
h3 {
  font-size: 1.5rem;
}
.icons {
  font-size: 1.5rem;
  text-align: center;
}

.score {
  order: 5;
}

.hidden {
  position: absolute;
  z-index: 2;
  visibility: visible;
  color: white;
  text-align: center;
  width: 800px;
  height: 600px;
  font-size: 2rem;
  background-color: rgba(0, 74, 72, 0.9);
}

.start-game {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.score p {
  color: #206a5d;
  text-align: center;
  font-size: 4rem;
}
.score .score-points {
  font-size: 4.5rem;
  font-weight: bolder;
}
.game-over {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.game-over a {
  text-decoration: none;
  color: white;
  padding: 7px;
  border: solid #bedbbb;
  border-radius: 50%;
}

.game-over a:visited {
  color: white;
}

.game-over a:hover {
  cursor: pointer;
  background-color: white;
  color: #206a5d;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

footer a:visited {
  color: #206a5d;
}

img {
  width: 500px;
  height: 300px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .hidden {
    left: 23px;
  }
}
